<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>52278346482-rmu06gftg7a7c6lcm0ojpuk5irp2giem.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.52278346482-rmu06gftg7a7c6lcm0ojpuk5irp2giem</string>
		<key>API_KEY</key>
		<string>AIzaSyA2_bSMR5TR1U0P4RmJMMdhyVv7xgbc--4</string>
		<key>GCM_SENDER_ID</key>
		<string>52278346482</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.superconnector.superconnectorvm.dev</string>
		<key>PROJECT_ID</key>
		<string>superconnector-vm-dev</string>
		<key>STORAGE_BUCKET</key>
		<string>superconnector-vm-dev.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:52278346482:ios:e948c5ba4a4fc97326466b</string>
	</dict>
</plist>