<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>790214601794-j62mu4jn5gj731k4jal0s9pfteilr7t2.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.790214601794-j62mu4jn5gj731k4jal0s9pfteilr7t2</string>
        <key>API_KEY</key>
        <string>AIzaSyA4edi7FVbz7K4eSsFx6SPJgxWo48UPJ0c</string>
        <key>GCM_SENDER_ID</key>
        <string>790214601794</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.superconnector.superconnectorvm.prod</string>
        <key>PROJECT_ID</key>
        <string>superconnector-vm-prod</string>
        <key>STORAGE_BUCKET</key>
        <string>superconnector-vm-prod.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:790214601794:ios:26cd0981ff73b1a3ea51db</string>
    </dict>
</plist>